<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
        <ul class="row list-unstyled">
            <% for(let i=0; i<tickets.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="/ticket/<%= tickets[i]._id%>">
                  <h2><%= tickets[i].subject%></h2>
                </a>
                <span>Severity: <%= tickets[i].severity%></span>
                <span>Status: <%= tickets[i].status%></span>
                <span>Assigned To: <%= tickets[i].assignedTo%></span>
              </li>
            <% } %>
            </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>