<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
          <div>
              <p><strong>Username</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a ticket</h2>
            <form action="/ticket/createTicket" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="subject" class="form-label">Subject</label>
                  <input type="text" class="form-control" id="subject" name="subject">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description"></textarea>
              </div>
              <div class="mb-3">
                <label for="severity" class="form-label">Severity</label>
                <select name="severity" id="severity" class="form-select">
                  <option value="P3">P3</option>
                  <option value="P2">P2</option>
                  <option value="P1">P1</option>
                  <option value="P0">P0</option>
                </select>
              </div>
              <!-- <div class="mb-3">
                <label for="assignedTo" class="form-label">Assigned To</label>
                <input type="email" class="form-control" id="assignedTo" name="assignedTo">
              </div> -->
              <div class="mb-3">
                <label for="assignedTo" class="form-label">Assigned To</label>
                <select name="assignedTo" id="assignedTo" class="form-select">
                  <option value="<%= user.email %>"><%= user.email %></option>
                  <% for(let i=0; i<Users.length; i++) {%>
                    <% if(Users[i].email !== user.email) {%>
                      <option value="<%= Users[i].email%>"><%= Users[i].email%></option>
                    <% }
                  } %>
                </select>
              </div>
              <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select name="status" id="status" class="form-select">
                  <option value="Open">Open</option>
                  <option value="Resolved">Resolved</option>
                  <option value="Closed">Closed</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image (Optional)</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
    </div>
    <div class="col-6">
          <ul class="row list-unstyled">
          <% for(let i=0; i<tickets.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
              <a href="/ticket/<%= tickets[i]._id%>">
                <h2><%= tickets[i].subject%></h2>
                <!-- <img class="img-fluid" src="<%= tickets[i].image%>"> -->
              </a>
              <span>Severity: <%= tickets[i].severity%></span>
              <span>Status: <%= tickets[i].status%></span>
              <span>Assigned To: <%= tickets[i].assignedTo%></span>
            </li>
          <% } %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/ticket">Return to Feed</a>
          </div>  
    </div>  
  </div>
</div>
<%- include('partials/footer') -%>